:root{
    --blue: #11acc8; 
    --green: #c0d62d; 
    --grey: #757575; 
    --blue_b: #099ab4;
    --blue_c: #008fa8;
    --grey_b: #b8b8b8; 
    --background: #f9f9f9; 
}
@font-face{
    src: url(../fonts/DINPro.otf);
    font-family: 'dinpro';
}
@font-face{
    src: url(../fonts/DINPro-Medium.otf);
    font-family: 'dinpro-medium';
}
@font-face{
    src: url(../fonts/DINPro-Bold.otf);
    font-family: 'dinpro-bold';
}
@font-face{
    src: url(../fonts/DINPro-Black.otf);
    font-family: 'dinpro-black';
}
body{
    margin: 0;
}
*{
    outline: none;
    font-family: 'dinpro';
}
a, a:link, a:hover{
    text-decoration: none;
}
img{
    max-width: 100%;
}
p{
    color: var(--grey);
}
strong{
    font-family: 'dinpro-bold';
}
/* h1{

} */
h2{
    font-size: 25px;
    font-family: 'dinpro-black';
    color: var(--blue);
}
/* h3{

}
h4{

}
h5{

}
h6{

} */
.medium{
    font-family: 'dinpro-medium';
}
.bold{
    font-family: 'dinpro-bold';
}
.black{
    font-family: 'dinpro-black';
}
.text-center{
    text-align: center
}
.blue{
    color: var(--blue);
    font-family: 'dinpro-medium';
}
.green{
    color: var(--green);
}
.grey{
    color: var(--grey);
    font-family: 'dinpro-medium';
}
.blue_b{
    color: var(--blue_b);
}
.grey_b{
    color: var(--grey_b);
}
.only_mobile{
    display: none!important;
}
.red{
    color: #c60000;
    font-family: 'dinpro-medium'
}
/* Estilos Nav */
nav{
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background: var(--blue);
    height: 60px;
    z-index: 15;
    top: 0;
    left: 0;
}
nav .logo{
    width: 120px;
    margin: 15px 50px;
    margin-right: 25px;
}
nav#main_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav#main_nav > div{
    display: flex;
    align-items: center;
    position: relative;
}
nav#main_nav>div > p{
    font-size: 15px;
    color: #fff;
    font-family: 'dinpro-bold'
}
nav#main_nav>div.bell{
    cursor: pointer;
    background: var(--blue_b);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    position: relative;
    margin-left: 30%;
}
nav#main_nav>div.bell.active:before{
    content: '';
    position: absolute;
    top: 1px;
    right: -1px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #c60000;
}
nav#main_nav>div ul{
    position: absolute;
    top: 45px;
    margin: 0;
    padding: 0;
    width: 100%;
    background: var(--blue_b);
    border-radius: 10px;
    z-index: 1;
}
nav#main_nav>div ul{
    display: none;
}
nav#main_nav>div.active ul{
    display: block;
}
nav#main_nav>div ul li{
    list-style: none;
    margin: 8px;
    font-size: 15px;
    font-family: 'dinpro-medium';
    color: #fff;
}
nav#main_nav>div > span{
    font-size: 15px;
    font-family: 'dinpro-medium';
    color: #fff;
    margin-right: 30px;
}
nav#main_nav>div.clinica{
    border-radius: 10px;
    background-color: #099ab4;
    width: 200px;
    height: 40px;
    justify-content: center;
    cursor: pointer;
}
nav#main_nav>div.perfil{
    margin-right: 50px;
    width: 200px;
    cursor: pointer;
}
nav#main_nav>div.perfil img{
    margin-right: 10px;
}
nav#main_nav>div.perfil:before, nav#main_nav>div.clinica:before{
    content: '';
    background: url(../assets/arrow_donw.png);
    width: 15px;
    height: 15px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    margin: auto;
}
nav#main_nav>div.bell > img{
    position: relative;
    z-index: 3;
}
nav#main_nav>div.bell > div{
    position: absolute;
    top: 25px;
    background: var(--blue_b);
    padding: 25px;
    width: 350px;
    right: 0;
    border-radius: 10px;
    border-top-right-radius: 0;
    display: none;
}
nav#main_nav>div.bell.active_d > div{
    display: block;
}
nav#main_nav>div.bell .not_item{
    display: flex;
    position: relative;
    justify-content: space-between;
}
nav#main_nav>div.bell .not_item > hr{
    position: absolute;
    bottom: 0;
    width: calc(100% + 20px);
    border: none;
    height: 1px;
    background: #ffffff;
    opacity: .25;
    left: -10px;
}
nav#main_nav>div.bell > div > p{
    color: #ffffff;
    font-size: 15px;
}
nav#main_nav>div.bell .not_item > div > p{
    color: #fff;
}
nav#main_nav>div.bell .not_item > div > p:nth-child(1){
    font-size: 15px;
    color: #fff;
    opacity: .5;
}
/* Estilos Nav */



input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.see_more{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    color: #fff;
    font-family: 'dinpro-bold';
    margin: auto;
    background: var(--blue_b);
    border-radius: 10px;
    margin-top: 20px;
}

.nav_bar_doc{
    display: flex;
    width: 180px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 25px;
}
div.nav_bar_doc > div:nth-child(2){
    width: 40px;
    height: 35px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    border: solid 1px #eeeeee99;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
div.arrow{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/*Ajuste para boton historial en portales*/
.grid_menu.active button#historial:before{
    transform: rotate(180deg)
}



/*Ajustes protales menu header_tab*/

div.content_layout div.header_tab > a:nth-last-child(1){
    width: 40%!important;
}
div.content_layout div.header_tab > a:nth-child(1), div.content_layout div.header_tab > a:nth-child(5){
    width: 75%!important;
}
div.content_layout div.header_tab > a:nth-child(6), div.content_layout div.header_tab > a:nth-child(7){
    width: 55%!important;
}
div.content_layout div.header_tab > a:nth-child(2){
    width: 110%!important;    
}
div.content_layout div.header_tab > a:nth-child(4){
    width: 110%!important;
}
div.content_layout div.header_tab > a:nth-last-child(2){
    width: 85%!important;
}

/*Documento*/
/*-----------------------------------------------------*/
.content_view .flex_content_50{
    display: flex;
    justify-content: space-between;
}
.content_view .c_50{
    display: flex;
    align-items: center;
}
.content_view .c_50 p.blue{
    min-width: 120px;
}
.content_view .c_50 p.box_rep{
    display: flex;
    width: 220px;
    height: 30px;
    align-items: center;
    padding: 0 20px;
    border: solid 1px #eeeeee99;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #ffffff, #f8f8f8);
}
.content_view .c_100{
    display: flex;
}
.content_view .c_100 p.blue{
    min-width: 120px;
}
.content_view .c_100 p.box_rep{
    display: flex;
    width: 100%;
    height: 30px;    
    padding: 0 20px;
    align-items: center;
    border: solid 1px #eeeeee99;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #ffffff, #f8f8f8);
    box-sizing: border-box;
}
.content_view .content_mult{
    display: flex;
    flex-wrap: wrap;
}
.content_view .content_mult .item_mult{
    width: auto!important;
}
.content_view .content_mult .box_grey{
    display: flex;
    width: 80px;
    height: 30px;    
    align-items: center;
    justify-content: center;
    border: solid 1px #eeeeee99;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #ffffff, #f8f8f8);
}
.content_view  .padding{
    padding-left: 20px
}

.content_view  .padding p.grey{
    min-width: 120px;
}
.content_view .multiple_large{
    display: flex;
    flex-wrap: wrap;
}
.content_view .multiple_large p.blue{
    min-width: 120px;
}
.content_view .multiple_large > div{
    display: flex;
    flex-wrap: wrap;
}
.content_view .multiple_large .box_rep{
    display: flex;  
    width: 140px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border: solid 1px #eeeeee99;
    border-radius: 5px;
    margin-right: 10px;
    background-image: linear-gradient(to bottom, #ffffff, #f8f8f8);
}
.content_view .gastro{
    display: flex;    
    overflow: auto;
    white-space: nowrap;
}
.content_view .gastro .column > div  p.blue{
    display: none
}
.content_view .gastro .column > div:nth-child(1) p.blue{
    display: block!important
}
.content_view .gastro .box_rep{
    display: flex;    
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: center;
    border: solid 1px #eeeeee99;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #ffffff, #f8f8f8);
}

.content_view .boxi_repeat{
    padding: 20px 40px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
 }
 .content_view .bg_box{
     display: flex;
     min-height: 100px;
     border-radius: 5px;
     background-image: linear-gradient(to bottom, #ffffff, #f8f8f8);
     border: solid 1px #eeeeee99;
     padding: 20px;
 }


 
.content_view .item_radio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 10px;
    padding: 0 40px;
    margin-bottom: 10px;
    min-height: 45px;
}
.content_view .item_radio .status_p {
    font-size: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 20px;   
    color: var(--grey)!important;
    text-align: center;
    font-family: 'dinpro'!important;
}
.content_view .item_radio .status_p.red{
    border: solid 1px #c60000;
}
.content_view .item_radio .status_p.yellow{
    border: solid 1px #ffc400;
}
.content_view .item_radio .status_p.green{
    border: solid 1px #78bc00;
}
.content_view .item_radio>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px!important;
}
.content_view .item_radio .btn_green{
    width: 80px;
    height: 35px;
    border-radius: 10px;
    background-color: #c0d62d;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;    
    font-size: 15px;
    font-family: 'dinpro-bold'
}
.content_view .view_day{
    margin: 30px 0;
    padding-left: 30px;
}
.content_view .view_day:nth-child(1){
    margin-top: 0px;
    padding-left: 30px;
}
/*Documento*/
/*-----------------------------------------------------*/




@media (max-width: 1024px){
    .only_mobile{
        display: flex!important;
    }
    
    .only_desktop{
        display: none!important;
    }


/*Navegador mobile para portales*/
    #deploy_menu{
        position: fixed;
        top: 60px;
        left: 0;
        padding: 20px;
        display: none;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow: auto;
        background: var(--blue);
        z-index: 20;
        box-sizing: border-box;
    }
    #deploy_menu.active{
        display: flex;
    }
    #deploy_menu>a{
        font-size: 23px;
        font-family: 'dinpro-bold';
        color: #fff;
        margin-bottom: 15px;
    }
    

    
/*Documento*/
/*-----------------------------------------------------*/
.content_view .c_50{
    display: block;
    width: 100%;
}
.content_view .c_50 p.blue{
    min-width: 100%;    
}
.content_view .c_50 p.box_rep{
    width: 95%;
    box-sizing: border-box;
}
.content_view .c_100{
    display: block;
}
.content_view .multiple_large .box_rep{
    width: 100%;
}
.content_view .multiple_large > div{
    display: block;
}
.content_view .multiple_large{
    display: block;    
}
.content_view .gastro .box_rep{
    min-width: 65px;
}
.content_view .gastro .column > div p.blue{
    display: block;
}

.content_view .boxi_repeat{
    padding: 20px;
}
.content_view .boxi_repeat > p:nth-child(1){
    color: var(--blue);
    font-family: 'dinpro-medium'
}
.content_view .bg_box{
    padding: 15px;
}
.content_view .view_day{
    margin-top: 15px!important;
    margin-bottom: 15px;
}

.content_view .item_radio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 15px;
}
.content_view .item_radio>div{    
    grid-column: 1/2;
    grid-row: 2;
    width: 165px!important;
}
.content_view .item_radio>p:nth-child(1){
    grid-column: 1/3;
}
.content_view .item_radio .status_p{
    margin: auto;
}
/*Documento*/
/*-----------------------------------------------------*/
}

@media (max-width: 350px){
    p{
        font-size: 14px!important;
    }
    a{
        font-size: 14px!important;
    }
}